.photoContainer img {
    height: 95%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 270px;
    max-height: 300px;
    animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 571;
    stroke-dashoffset: 571;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
   stroke-dasharray: 463;
   stroke-dashoffset: 463;
   animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 442;
    stroke-dashoffset: 442;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 463.96807861328125;
    stroke-dashoffset: 463.96807861328125;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 297.216064453125;
    stroke-dashoffset: 297.216064453125;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 565.94921875;
    stroke-dashoffset: 565.94921875;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 449;
    stroke-dashoffset: 449;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 463;
    stroke-dashoffset: 463;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 549;
    stroke-dashoffset: 549;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 571;
    stroke-dashoffset: 571;
    animation: line-anim 2s ease forwards 2.7s;
}

@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}


// styles for portfolio.html

.project img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

// styles for contact.html

.twitterLogo {
    padding-bottom: 15px;
    height: 80vw;
    width: 95vw;
    &:hover {
    transform: rotateY(190deg);
    transition: all .5s;
    }
}

.linkedinLogo {
    padding-bottom: 10px;
}

@media (min-width: 1200px) {
    .photoContainer {
        flex-basis: 25%;
        
    }

    .photoContainer img {
       margin: 0;
       display: inline-flex;
    }

    .twitterLogo {
        height: 20vw;
        width: 50vw;
    }

    #logo {
        width: 756px;
        height: 109px;
        position: absolute;
        top: 45%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
}