.text {
    text-align: center;
}

.header {
    font-size: 50px;
}


.name:hover {
    transform: rotateZ(10deg);
}

@media (min-width: 1200px) {
  .projectDescription {
      font-size: 20px;
  }

  .bio {
      width: unset;
      flex-basis: 75%;
  }
} 